body,html{
    padding: 0px;
    margin:0px;
}
/* ?? */
*{
    box-sizing: border-box;
}
.menu{
    border: 1px solid red;
    height: 30px;
}
.menu-options{
    height: 55px;
    border: 1px solid;
}
.formula-container{
    height: 30px;
    border: 1px solid green;
}
.content{
    height: calc(100vh - 145px);
    background-color: #16c36d87;
    overflow: auto;
    position: relative;
}

.sheets{
    height: 30px;
    border: 1px solid purple;
}
.row{
    display: flex;
}
.row .cell{
min-width:87px;
min-height: 25px;
border: 1px solid teal;
}
.top-left-cell{
    height: 25px;
    width: 25px;
    background-color: darkslategrey;
}
.top-row {
    display: flex;
    position: absolute;
    top: 0px;
    left: 25px;
}
.top-row .cell{
    min-width: 87px;
    min-height: 25px;
    border: 1px solid teal;
    text-align: center;
}
.left-col .cell{
    height: 25px;
    width:25px;
    border: 1px solid teal;
}
.grid{
    position: absolute;
    top: 25px;
    left: 25px;
}


